* {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

*:focus {
    outline: none !important;
}

*::selection {
    color: #FFFFFF;
    background: #8BE3D9;
}

.superContainer {
    display: flex;
}

.miniContainer {
    flex: 10;
    margin-left: auto;
    margin-right: auto;
}